.weapon-button {
	background-color: #194066;
	background-size: 90px 90px;
	border-bottom: 5px solid darken(#194066, 10%);
	border-radius: 10px;
	height: 90px;
	margin-right: 10px;
	position: relative;
	width: 90px;
	&:last-child {
		margin-right: 0;
	}
	&:active {
		border-bottom-width: 2px;
		height: 87px;
		top: 3px;
	}
	&:disabled {
		background-color: #666;
		border-bottom: 5px solid darken(#666, 10%);
	}
}

.weapon-rock {
	background-image: url('../images/rock-white.svg');
}

.weapon-paper {
	background-image: url('../images/paper-white.svg');
}

.weapon-scissors {
	background-image: url('../images/scissors-white.svg');
}

.call-to-action {
	color: #fff;
	font-size: 30px;
	margin: 20px 0;
}

.boxes-wrapper {
	display: flex;
	height: 20%;
	justify-content: space-around;
	margin: 30px auto;
	max-width: 350px;
	width: 90%;
}

.box-1,
.box-2 {
	border: 2px solid #224;
	border-radius: 15px;
	height: 100%;
	width: 40%;
}

.box-1 {
	left: 0;
}

.box-2 {
	right: 0;
}

.chosen-weapon {
	height: 100%;
	width: 100%;
}

.scorebox {
	align-items: center;
	color: #fff;
	display: flex;
	font-size: 50px;
	justify-content: space-around;
	margin: 30px auto;
	max-width: 300px;
	width: 70%;
}

.scorebox > .score {
	color: #fff;
	font-size: 30px;
}
